<div id="<%= dom_id tutor %>" class="card">
  <div class="card-header bg-secondary text-white">
    <h1 class="card-title">
      <%= tutor.first_name %> <%= tutor.last_name %>
    </h1>
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Email:</strong> <%= tutor.email %>
    </p>
    <p class="card-text">
      <strong>Phone:</strong> <%= tutor.phone %>
    </p>
    <p class="card-text">
      <strong>School Name:</strong> <%= tutor.school_name %>
    </p>
  </div>
  
</div>
